{% extends "base.html" %}


{% block title %}
<title>Post Detail</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-5 text-center">{{ post.Post.title }}</h1>
        </div>
    </div>

    <p>{{ post.Post.content }}</p>
    <form action="/vote" method="post" class="text-end">
        <input type="hidden" name="post_id" value="{{ post.Post.id }}">
        <button type="submit">LIKE</button>
    </form>
</div>
<script>

</script>
{% endblock %}